/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Eigen CSS */
@font-face {
  font-family: "Montserrat";
  src: local("../font/Montserrat-Regular.ttf");
}

body {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  color: white;
}

nav ul {
  display: flex;
  background-color: black;
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
  background-size: 2px;
  text-shadow: 0px 0px 18px #646464;
}
nav ul li {
  padding: 10px;
  text-transform: uppercase;
  width: 94.8%;
  padding-top: 15px;
}
li{
  position: relative;
  transition-duration: 0.5s;
}

li:hover,
li:focus-within {
  background: #222;
  cursor: pointer;
}
nav ul li ul {
  visibility: hidden;
  /* min-width: 5rem; */
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  width: 100%;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
   width: 100%;
}


nav ul li a {
  text-decoration: none;
  color: #969696;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul li a img {
  width: 35%;
}
nav ul li:hover a{
  color: #70ac39;
}
.active{
  color: #70ac39;
}


.container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cell-50 {
  display: inline-block;
  width: 49%;
  margin: 0;
  padding: 0;
}

.cell-25 {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
}

.cell-75 {
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 0;
}
.cell-33 {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}
.cell-66 {
  display: inline-block;
  width: 66%;
  margin: 0;
  padding: 0;
}

#banner {
  background-image: url("/img/5-24-ghost-hub-hero-desktop.jpg");
  height: 763px;
  display: block;
  background-size: cover;
}

#banner img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}
#banner p {
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  text-shadow: 0px 0px 8px rgb(255 255 255 / 50%);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.WarzoneHome {
  margin-top: 75px;
  margin-bottom: 75px;
}
#HomeWarezoneImg {
  width: 100%;
}
#HomeWarezoneText {
  vertical-align: top;
}
#HomeWarezoneText h2 {
  font-size: 30px;
  text-shadow: 0px 0px 18px #646464;
  padding: 50px 50px 20px 50px;
}
#HomeWarezoneText p {
  text-shadow: 0px 0px 18px #646464;
  font-size: 18px;
  padding: 0px 50px 0px 50px;
}
.OtherGames {
  border: 0;
  padding: 0;
  margin: 0;
}
.OtherGames div img {
  display: block;
  margin: auto;
}
.OtherGames div h2 {
  text-align: center;
  font-size: 30px;
}

.OtherGames div h2,
.OtherGames div p {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Pagina 2 */


.container .button{
	display: block;
	margin: auto;
}

#Warzone_img {
  display: block;
  background-image: url("/img/WZ_HP_1920x722.jpg");
  width: 100%;
  height: 722px;
  margin: auto;
}
#Warzone_img img {
  display: block;
  width: 25%;
  margin: auto;
  padding-top: 425px;
}
#VideoContainer {
  padding-bottom: 400px;
}
#video {
  clip-path: polygon(100% 0, 100% 25%, 83% 100%, 0 100%, 0 0);
  width: 100%;
}
#WarezoneInfo {
  vertical-align: top;
  padding-top: 150px;
}
#WarezoneInfo h2,
#WarezoneInfo p {
  margin-left: 40px;
  margin-right: 30px;
}

/* Pagina 3 */
.bodyBlackops {
  background-image: url("/img/wzm-home-bg.jpg");
}
#BannerBlackops {
  background-image: url("/img/blackopsBanner.jpg");
  height: 800px;
  display: block;
}
#blackops1 {
  height: 800px;
  display: block;
 
}

/* Pagina 4: Coldwar */

#Coldwar_img {
  display: block;
  background-image: url("/img/zeus-s6-home-still-desktop.jpg");
  width: 100%;
  height: 710px;
  margin: auto;
}

#Coldwar_img img {
  width: 25%;
  margin-top: 250px;
  margin-left: 20px;
}

#Coldwar_img h1 {
  margin-top: 20px;
  margin-left: 35px;
  font-size: 23px;
  color: #e5e3e3;
}

.container #ColdwarLeft p{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #e5e3e3;
}

.container #ColdwarLeft img{
  width: 100%;
}

.container #ColdwarRight p{
  font-size: 50px;
  font-weight: bold;
  color: #e5e3e3;
}

.container #ColdwarRight img{
  width: 100%;
}

.container #ColdwarPoster img{
  width: 100%;
}

.container #ColdwarPoster h2{
  color: #E5E3E3;
  text-align: center;
  margin: auto;
  margin-top: -235px;
  font-size: 35PX;
  font-weight: bold;
}
.container #ColdwarPoster p{
  color: #CDC4BD;
  margin: auto;
  font-size: 30px;
  text-align: center;
}


