/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Eigen CSS */
@font-face{
	font-family: "Montserrat";
	src: local("../font/Montserrat-Regular.ttf") ;
}

body{
    font-size: large;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;
}

nav ul{
    display: flex;
	background-color: black;
	background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
	background-size: 2px ;
	text-shadow: 0px 0px 18px #646464;
	
}
nav ul li{
    padding: 10px;
	text-transform: uppercase;
	width: 100%;
}

nav ul li a{
	text-decoration: none;
	color: #969696;
	font-weight: bold;
	letter-spacing: 2px;
}

nav ul li a img{
	width: 35%;
}
/* .banner-container{
	width: 100%;
	margin: 0px;
	background-image: url("/img/5-24-ghost-hub-hero-desktop.jpg");
	height: 500px;
}
.section-left{
	width: 50%;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
}
.section-left img{
	margin: auto;
	margin: 0px;
}
.section-left p{
	color: white;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
}
.section-right{
	width: 49.6%;
	height: 200px;
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
} */

.container {
	display: table;
	width: 100%;
	margin:0;	
	
  }
  
  .table-cell {
	border: 0px solid;
	display: table-cell;

  }

#banner{
	background-image: url("/img/5-24-ghost-hub-hero-desktop.jpg");
	height: 763px;
}
#left-cell{
	width: 50%;
}
#banner img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	padding-top: 100px;
}
#banner p{
	color: white;
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
	text-shadow: 0px 0px 8px rgb(255 255 255 / 50%);
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
#banner button{
	width: 200px;
	font-size: 20px;
	margin-top: 15px;

}




