/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Eigen CSS */
@font-face {
  font-family: "Montserrat";
  src: local("../font/Montserrat-Regular.ttf");
}

body {
  font-size: large;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  color: white;
  font-size:22px;
	line-height: 32px;
}

/* menu */
.toggle,
[id^=drop] {
	display: none;
}
nav { 
	margin:0;
	padding: 0;
	background-color: black;
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
  background-size: 2px;
  text-shadow: 0px 0px 18px #646464;
}

.logo {
    width: 10%;
    vertical-align: middle;
    padding: 15px 10px 10px 10px;
}
nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	}

li{
  transition-duration: 0.5s;
  box-sizing: border-box;
}
nav ul li {
  margin: 0px;
	display:inline-block;
  background-color: black;
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
  background-size: 2px;
	}

nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
  transition: all 0.5s ease;
}

nav ul li ul li:hover { 
  background: #222;
  color: #7ac32c;
}

nav a:hover { 
	background: #222;
  color: #7ac32c;
}
.active{
  color: #7ac32c;
}
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}

nav ul li:hover > ul {
	display:inherit;
}
	
nav ul ul li {
	width:170px;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px; 
}

li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


@media all and (max-width : 768px) {

	nav {
		margin: 0;
	}

	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
    background-color: black;
    background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png");
    background-size: 2px;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background: #222;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background: #222;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
    nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #222; 
	}

	nav ul ul {
		position:static;
		color: #ffffff;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
	
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
	}
    .logo{
        width: 20%;
        padding-left: 20px;
    }

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}

.container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cell-50 {
  display: inline-block;
  width: 49%;
  margin: 0;
  padding: 0;
}

.cell-25 {
  display: inline-block;
  width: 25%;
  margin: 0;
  padding: 0;
}

.cell-75 {
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 0;
}
.cell-33 {
  display: inline-block;
  width: 33%;
  margin: 0;
  padding: 0;
}
.cell-66 {
  display: inline-block;
  width: 66%;
  margin: 0;
  padding: 0;
}

.bannerHome {
  background-image: url("/img/5-24-ghost-hub-hero-desktop.jpg");
  height: 763px;
  display: block;
  background-size: cover;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bannerHome img {
  padding-top: 200px;
}
.bannerHome p {
  color: white;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  text-shadow: 0px 0px 8px rgb(255 255 255 / 50%);
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.margin75pxTopbottom{
  margin-top: 75px;
  margin-bottom: 75px;
}

.img100 {
  width: 100%;
}
.verticalAlignTop{
  vertical-align: top;
}
.font30px{
  font-size: 30px;
}
.textshadow{
  text-shadow: 0px 0px 18px #646464;
}
.verticalAlignTop h2{
  padding: 10px 50px 10px 50px;
}
.verticalAlignTop p{
  padding: 0px 50px 0px 50px;
  font-size: 18px;
}
.margintop20px{
  margin-top: 20px;
}
.Reset{
  border: 0;
  padding: 0;
  margin: 0;
}

.Reset div h2 {
  text-align: center;
  font-size: 30px;
}
.Reset div h2,
.Reset div p{
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-shadow: 0px 0px 18px #646464;
}
.video33{
  width: 100%;
}

footer{
  background-color: #3e4f24;
  margin-top: 50px;
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.footerlogo{
  width: 40%;
  vertical-align:middle;
}
footer .cell-33{
vertical-align: middle;
}
footer a{
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
}

footer a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #7ac32c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

footer a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media all and (max-width : 480px) {
  body{
    font-size: 20px;
  }
  .container {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cell-50 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .cell-25 {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
  }
  
  .cell-75 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cell-33 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cell-66 {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  footer{
    height: 450px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: middle;
  }
  .footerlogo{
    width: 100%;
  }
  footer > .cell-33{
    padding-bottom: 20px;
  }
  /* pagina 1 */
  .bannerHome{
    height: 450px;
  }
  .bannerHome img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bannerHome p{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  .verticalAlignTop h2{
    padding: 20px 20px 20px 20px;
    text-align: center;
  }
  .verticalAlignTop p{
    padding-bottom: 50px;
    margin: 0;
  }
  .Reset img{
    width: 100%;
  }
  .Reset div h2, .Reset div p{
    margin: 0;
  }
  .container .ModernWarfareMini img, p{
    margin-bottom: 10px;
  }

  
}
/* Pagina 2 */

.Warzone_img {
  display: block;
  background-image: url("/img/WZ_HP_1920x722.jpg");
  width: 100%;
  height: 722px;
  margin: auto;
}
.Warzone_img img {
  display: block;
  width: 25%;
  margin: auto;
  padding-top: 425px;
}
.VideoContainer {
  padding-bottom: 50px;
}
.video {
  clip-path: polygon(100% 0, 100% 25%, 83% 100%, 0 100%, 0 0);
  width: 100%;
}
.WarezoneInfo {
  vertical-align: top;
  padding-top: 20px;
}
.WarezoneInfo h2,
.WarezoneInfo p {
  margin-left: 40px;
  margin-right: 30px;
}
@media all and (max-width : 480px) {

  .Warzone_img{
    height: 400px;
  }
  .Warzone_img img{
    padding-top: 150px;
    width: 50%;;
  }
  .video{
    clip-path: none;
  }
  .WarezoneInfo{
    padding-top: 20px;
  }
  .WarezoneInfo h2{
    font-size: 23px;
    font-weight: bold;
  }
  .VideoContainer{
    padding-bottom: 50px;
  }
}


/* Pagina 3 */
.bodyBlackops {
  background-image: url("/img/wzm-home-bg.jpg");
}

.BannerBlackops {
  background-image: url("/img/blackopsBanner.jpg");
  height: 800px;
  display: block;
}

@media all and (max-width : 480px) {
  .BannerBlackops{
    width: 100%;
    background-size: cover;
    height: 200px;
    margin-bottom: 20px;
  }
}

/* Pagina 4: Coldwar */


.Coldwar_img {
  display: block;
  background-image: url("/img/zeus-s6-home-still-desktop.jpg");
  width: 100%;
  height: 710px;
  margin: auto;
}

.Coldwar_img img {
  width: 25%;
  margin-top: 250px;
  margin-left: 20px;
}
 
.Coldwar_img h1 {
  margin-top: 20px;
  /* margin-left: -1370px; */
  font-size: 23px;
  color: #e5e3e3;
}

.container .ColdwarLeft p{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #e5e3e3;
}

.container .ColdwarRight p{
  font-size: 50px;
  font-weight: bold;
  color: #e5e3e3;
}

.container .ColdwarPoster h2{
  color: #E5E3E3;
  text-align: center;
  margin: auto;
  margin-top: -235px;
  font-size: 35PX;
  font-weight: bold;
}
.container .ColdwarPoster p{
  color: #CDC4BD;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.zeus h2{
  font-size: 30px;
  text-align: center;
}
.zeus img{
  width: 65%;
  margin-left: 165px;
}
.scale {
  padding: 5px 10px;
  background: url('/img/zeus-trailer-thumb-left.jpg') no-repeat;
  background-size: 100% auto;
  background-position: center;
  transition: .3s all ease-in-out;
  height: 425px;
  width: 100%;
}

.scale:hover {
  background-size: 110% auto;
}
@media all and (max-width : 480px) {
  .Coldwar_img{
    background-size: cover;
    height: 200px;
  }
  .Coldwar_img img{
    margin-top: 50px;
  }
  .Coldwar_img h1{
    font-size: 13px;
    margin-left: 20px;
  }
  .Coldwar_img h1+h1{
    margin-left: 20px !important;
    margin: 0;
  }
  .scale{
    height: 215px;
    width: 100%;
    box-sizing: border-box;
  }
  .zeus img{
    margin: 0;
    width: 100%;
  }
  .container .ColdwarPoster h2{
    margin-top: 0;
    font-size: 25px;;
  }
  .container .ColdwarPoster p{
    font-size: 20px;
    text-align: center;
  }
}
/* Pagina 5 */
.ModernWarfareBG {
  background-image: url("/img/MW.jpg");
  width: 100%;
  height: 710px;
  margin: auto;
}
.ModernWarfareBG + footer {
  margin-top: 0;
}
.container .ModernWarfareMini img, h1{
  margin-top: 50px;
  font-size: 36px;
  color: #e5e3e3;
  margin-left: 50px;
}
.container .ModernWarfareMini img, p{
  margin-left: 50px;
}
input, textarea { 
  outline: none;
  }

  .Contactus {
  margin-top: -22px;
  margin-left:0px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #222;
  }
  .decor {
  position: relative;
  margin-left: 25%;
  margin-top: 15%;
  width: 80%;
  border-radius: 30px;
  background: #fff;
  } 
  .Text{
    margin-left: -15px;
  }
form{
  animation: move 5s infinite;
}
@keyframes move{
  0%   { left:0px; top:0px;}
  25%  { left:100px; top:0px;}
  50%  { left:100px; top:100px;}
  75%  { left:0px; top:100px;}
  100% { left:0px; top:0px;}
}
  .form-left-decoration,
  .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #5a7233;
  }
  .form-left-decoration {
  bottom: 60px;
  left: -30px;
  }
  .form-right-decoration {
  top: 60px;
  right: -30px;
  }
  .form-left-decoration:before,
  .form-left-decoration:after,
  .form-right-decoration:before,
  .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
  }
  .form-left-decoration:before {
  top: -20px;
  }
  .form-left-decoration:after {
  top: 20px;
  left: 10px;
  }
  .form-right-decoration:before {
  top: -20px;
  right: 0;
  }
  .form-right-decoration:after {
  top: 20px;
  right: 10px;
  }
  .circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  }
  .form-inner {
  padding: 40px;
  }
  .form-inner input,
  .form-inner textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
  }
  .form-inner textarea {
  resize: none;
  }
  button {
  transition: all 0.5s ease;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  border-bottom: 4px solid #3e4f24;
  background: #5a7233; 
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  }
  button:hover {
  background: #3e4f24;
  } 
  @media (min-width: 480px) {
  .decor {
  width: 60%;
  }
  
  }
  @media all and (max-width : 480px){
    .ModernWarfareBG{
      height: 500px;
      background-size: cover;
    }
    form{
      animation: none;
    }
    .Contactus{
      margin:0;
    }
    .decor{
      margin-left: 10%;
      margin-top: 10%;
    }
  }